[submodule "submodules/spoofcheck"]
	path = submodules/spoofcheck
	url = git@github.com:BishopFox/spoofcheck.git
[submodule "submodules/parameth"]
	path = submodules/parameth
	url = git@github.com:maK-/parameth.git
[submodule "submodules/Arjun"]
	path = submodules/Arjun
	url = git@github.com:s0md3v/Arjun.git
